<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
  {% from "macros.html" import
      bootstrap_header_links, bootstrap_script_links with context %}

  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="en">

    <title>Music Mixing Mystery</title>

    {{ bootstrap_header_links() }}
  </head>
  <body>
    <h1>Music Mixing Mystery</h1>
  </body>
</html>
